In [141]:
import pandas as pd
import seaborn as sns
import numpy as np

In [142]:
json = [
  {"Effort": 5, "Placement": 10},
  {"Effort": 8, "Placement": 12},
  {"Effort": 12, "Placement": 20},
  {"Effort": 15, "Placement": 22},
  {"Effort": 18, "Placement": 25},
  {"Effort": 20, "Placement": 28},
  {"Effort": 23, "Placement": 30},
  {"Effort": 25, "Placement": 32},
  {"Effort": 28, "Placement": 35},
  {"Effort": 30, "Placement": 38},
  {"Effort": 32, "Placement": 40},
  {"Effort": 35, "Placement": 42},
  {"Effort": 37, "Placement": 44},
  {"Effort": 40, "Placement": 48},
  {"Effort": 42, "Placement": 50},
  {"Effort": 45, "Placement": 52},
  {"Effort": 48, "Placement": 55},
  {"Effort": 50, "Placement": 58},
  {"Effort": 52, "Placement": 60},
  {"Effort": 55, "Placement": 63},
  {"Effort": 57, "Placement": 65},
  {"Effort": 60, "Placement": 68},
  {"Effort": 62, "Placement": 70},
  {"Effort": 65, "Placement": 73},
  {"Effort": 68, "Placement": 75},
  {"Effort": 70, "Placement": 78},
  {"Effort": 72, "Placement": 80},
  {"Effort": 75, "Placement": 82},
  {"Effort": 77, "Placement": 85},
  {"Effort": 80, "Placement": 88},
  {"Effort": 82, "Placement": 90},
  {"Effort": 85, "Placement": 92},
  {"Effort": 87, "Placement": 95},
  {"Effort": 90, "Placement": 97},
  {"Effort": 92, "Placement": 98},
  {"Effort": 95, "Placement": 100},
  {"Effort": 97, "Placement": 99},
  {"Effort": 100, "Placement": 100},
  {"Effort": 3, "Placement": 8},
  {"Effort": 6, "Placement": 15},
  {"Effort": 9, "Placement": 18},
  {"Effort": 11, "Placement": 21},
  {"Effort": 14, "Placement": 24},
  {"Effort": 17, "Placement": 27},
  {"Effort": 19, "Placement": 30},
  {"Effort": 22, "Placement": 33},
  {"Effort": 26, "Placement": 36},
  {"Effort": 29, "Placement": 39},
  {"Effort": 33, "Placement": 42},
  {"Effort": 36, "Placement": 45},
  {"Effort": 39, "Placement": 48},
  {"Effort": 43, "Placement": 51},
  {"Effort": 46, "Placement": 54},
  {"Effort": 49, "Placement": 57},
  {"Effort": 53, "Placement": 60},
  {"Effort": 56, "Placement": 63},
  {"Effort": 59, "Placement": 66},
  {"Effort": 63, "Placement": 69},
  {"Effort": 66, "Placement": 72},
  {"Effort": 69, "Placement": 75},
  {"Effort": 73, "Placement": 78},
  {"Effort": 76, "Placement": 81}
]

In [143]:
df = pd.DataFrame(json)

In [144]:
df.sample(5)

    Effort  Placement
58      66         72
51      43         51
37     100        100
45      22         33
11      35         42

In [145]:
train, test = df.iloc[:,0], df.iloc[:,1]

In [146]:
class Simple_LG:
    def __init__(self):
        self.m  = None
        self.c =   None
        
    def fit(self, train, test): 
        # Slope
        mean_train, mean_test = train.mean(), test.mean()
        num, den = 0, 0
        for i in range(len(train)):
            num = num + (train[i]-mean_train)*(test[i]-mean_test)
            den = den + (train[i]-mean_train)**2
        self.m = num/den

        # Intercept
        self.c = mean_test - self.m*mean_train        
    def predect(self, train):
        return (self.m * train) + self.c

In [147]:
model = Simple_LG()

In [148]:
model.fit(train, test)

In [149]:
model.m

np.float64(0.969296335412638)

In [150]:
model.c

np.float64(8.880750228988795)

In [151]:
print(model.predect(train[15:20]))

15    52.499085
16    55.406974
17    57.345567
18    59.284160
19    62.192049
Name: Effort, dtype: float64

In [152]:
# loss function
num = 0
for i in np.square(test[15:20]-model.predect(train[15:20])):
    num = num + i
print((num)/(len(test[15:20]-model.predect(train[15:20]))))

0.4016419067481092