In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [54]:
pd.set_option("display.max_columns", None)        # Show ALL columns
# pd.set_option("display.expand_frame_repr", False) # No "..."
# pd.set_option("display.width", None)              # No line wrapping
# pd.set_option("display.max_colwidth", None)       # Full text in cells

In [55]:
df = pd.read_csv('zomato.csv', encoding='latin1')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [57]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [58]:
df.duplicated().sum()

np.int64(0)

In [59]:
df.head(3)

   Restaurant ID         Restaurant Name  Country Code              City                                                                  Address                                    Locality                                              Locality Verbose   Longitude   Latitude                          Cuisines  Average Cost for two          Currency Has Table booking Has Online delivery Is delivering now Switch to order menu  Price range  Aggregate rating Rating color Rating text  Votes
0        6317637        Le Petit Souffle           162       Makati City  Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City   Century City Mall, Poblacion, Makati City        Century City Mall, Poblacion, Makati City, Makati City  121.027535  14.565443        French, Japanese, Desserts                  1100  Botswana Pula(P)               Yes                  No                No                   No            3               4.8   Dark Green   Excellent    314
1        6304287        Izakaya Kikufuji           162       Makati City      Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City  Little Tokyo, Legaspi Village, Makati City       Little Tokyo, Legaspi Village, Makati City, Makati City  121.014101  14.553708                          Japanese                  1200  Botswana Pula(P)               Yes                  No                No                   No            3               4.5   Dark Green   Excellent    591
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City                 Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City  Edsa Shangri-La, Ortigas, Mandaluyong City  Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City  121.056831  14.581404  Seafood, Asian, Filipino, Indian                  4000  Botswana Pula(P)               Yes                  No                No                   No            4               4.4        Green   Very Good    270

In [67]:
df.iloc[:,0].duplicated().sum()

np.int64(0)

In [72]:
# df.sort_values(by='Restaurant ID')

      Restaurant ID                Restaurant Name  Country Code       City                                                                 Address                Locality                   Locality Verbose  Longitude   Latitude                        Cuisines  Average Cost for two            Currency Has Table booking Has Online delivery Is delivering now Switch to order menu  Price range  Aggregate rating Rating color Rating text  Votes
2999             53                          Amber             1  New Delhi                                        N-19, Connaught Place, New Delhi         Connaught Place         Connaught Place, New Delhi  77.220891  28.630197  North Indian, Chinese, Mughlai                  1800  Indian Rupees(Rs.)               Yes                 Yes                No                   No            3               2.6       Orange     Average    152
3016             55                        Berco's             1  New Delhi                       G-2/43, Middle Circle, Connaught Place, New Delhi         Connaught Place         Connaught Place, New Delhi  77.217298  28.632452                   Chinese, Thai                  1100  Indian Rupees(Rs.)               Yes                 Yes                No                   No            3               3.9       Yellow        Good   2639
3192             60               Colonel's Kababz             1  New Delhi                    29, Defence Colony Market, Defence Colony, New Delhi          Defence Colony          Defence Colony, New Delhi  77.230591  28.574036           North Indian, Mughlai                   900  Indian Rupees(Rs.)               Yes                  No                No                   No            2               3.2       Orange     Average    600
3746             64  Diva - The Italian Restaurant             1  New Delhi                 M-8A, M Block Market, Greater Kailash (GK) 2, New Delhi  Greater Kailash (GK) 2  Greater Kailash (GK) 2, New Delhi  77.243186  28.534202                         Italian                  2500  Indian Rupees(Rs.)               Yes                 Yes                No                   No            4               3.8       Yellow        Good    372
3801             65                Drums of Heaven             1  New Delhi                       S-14, Green Park Extension, Green Park, New Delhi              Green Park              Green Park, New Delhi  77.205934  28.558018          Chinese, Seafood, Thai                  1800  Indian Rupees(Rs.)               Yes                 Yes                No                   No            3               3.5       Yellow        Good    234
...             ...                            ...           ...        ...                                                                     ...                     ...                                ...        ...        ...                             ...                   ...                 ...               ...                 ...               ...                  ...          ...               ...          ...         ...    ...
7836       18499493                        Zombiez             1  New Delhi  E 379, Khosla Complex, Samrat Apartment, Vasundhara Enclave, New Delhi      Vasundhara Enclave      Vasundhara Enclave, New Delhi   0.000000   0.000000           Chinese, North Indian                   500  Indian Rupees(Rs.)                No                  No                No                   No            2               0.0        White   Not rated      0
7679       18500618                    Veg. Darbar             1  New Delhi         Near Metro Pillar 682, Uttam Nagar West, Uttam Nagar, New Delhi             Uttam Nagar             Uttam Nagar, New Delhi  77.057052  28.621884           North Indian, Chinese                   400  Indian Rupees(Rs.)                No                  No                No                   No            1               0.0        White   Not rated      1
1762       18500628                   Grill & Cafe             1    Gurgaon        48/5, Mahrauli Road, Near Government College, Sector 14, Gurgaon               Sector 14                 Sector 14, Gurgaon  77.040480  28.466274  Chinese, Mughlai, North Indian                   600  Indian Rupees(Rs.)                No                  No                No                   No            2               0.0        White   Not rated      3
8773       18500639          Chandni Chowk 2 China             1      Noida                                                  H-38, Sector 51, Noida               Sector 51                   Sector 51, Noida   0.000000   0.000000           North Indian, Chinese                   400  Indian Rupees(Rs.)                No                  No                No                   No            1               0.0        White   Not rated      0
1329       18500652                Mahek By Greenz             1    Gurgaon                           A 201, Belvedere Towers, DLF Phase 2, Gurgaon             DLF Phase 2               DLF Phase 2, Gurgaon   0.000000   0.000000                    North Indian                   400  Indian Rupees(Rs.)                No                  No                No                   No            1               0.0        White   Not rated      0

[9551 rows x 21 columns]